$highlight: #fff866;
body { width: 620px; }

span.ezoeItemCustomTag.inlinecomment { background-color: #ffe26e; }
.comment-bubble { display: block; width: 280px; position: absolute; right: 4px; line-height: 1em;
  background: #fdf8c5; border: 1px solid #ffe26e; padding: 10px 5px; border-radius: 4px; font-family: sans-serif;
  .author { font-size: 85%; color: #888; text-transform: uppercase; }
  .time { font-size: 80%; color: #888; }
  span.ezoeItemNonEditable { border: none; background: none; padding: 0; min-height: inherit; }
  .inline-comment { display: block; padding: 3px; margin-right: 60px; min-height: 1em; }
  .inline-comment.editing { border: 1px solid #bd870d;  }
  p { margin-top: 0; margin-bottom: 5px; }
  .delete-button { float: right; }
}
.comment-reply { margin: 10px 0; }
.comment-bubble:hover { z-index: 100; }
.reply-header { display: block; padding-bottom: 5px; }
.comment-bubble.selected { z-index: 50; border-color: #d1a938; box-shadow: 0 0 10px #555555; }
.inlinecomment.selected { box-shadow: 0 0 10px #555555; }
.embed-gallery {
    overflow: hidden;

    img { display: none; }
    img:first-child { display: block; }

    h3 { display: none; }
}
.line .lede-image { float: right; margin-left: 10px; }

